

.homeSopra{
    background: rgb(0,255,128);
    background-image: url('deliveroo.jpeg');
}

.btn {
    color: '#00fb9b';
}
.navbar{
padding-left: 79%
}
#coll{
   width: 200px;
}
#accedi{
    margin-right: 50px;
}
#menu {
    margin-right: 50px;

}
.boxRicerca {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}